
$white: #fff;
$black: #212121;

$paragraph: #4E4E4E;

// $red: #D01010;
$red: rgba(237, 18, 143, 1);
$light-red: #FFDCDC;

$yellow: rgba(245, 134, 37, 1);

$bg: #F3F3F3;

$shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);

$border-color: #00000029;

$orange: #FC6400;
$orange-hover: #ed5d04;

$light-orange: #FC64004D;

// font-family
$font-body: 'Open Sans', sans-serif;
// $font-body:  'Rasa', serif;

